[submodule "tello_ros"]
	path = tello_ros
	url = https://github.com/PPGIA-Sistemas-Ciberfisicos/tello_ros.git
[submodule "ros2_shared"]
	path = ros2_shared
	url = https://github.com/PPGIA-Sistemas-Ciberfisicos/ros2_shared.git
